@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruge+Boogie&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Funnel Display", sans-serif;
    
}

body h1{
    font-weight: bolder;
}



::-webkit-scrollbar{
    display: none;
}